/*
**Created by mahaiyue on 10/10/16
**Edited by mahaiyue on 10/30/16
*/
/*source: http://codepen.io/jasonhowmans/pen/dykhL*/

/*Phone view*/
@media only screen and (max-width: 600px){
#slide-menu {
  background-image: url(http://41.media.tumblr.com/e080e1ee76eb7d354465383348d84a01/tumblr_nhibg801IT1s2077ko1_500.jpg);
  position: fixed;
  top: -100px;
  left: 0;
  bottom: 0;
  display: block;
  /*float: left;*/
  width: 100%;
  max-height: 284px;
  overflow: auto;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  }

  #slide-menu > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

#slide-menu .titlebrand{
  font-size: 20px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

#slide-menu > ul li a{
  padding: 15px 20px;
    color: white;
    text-decoration: none;
    display: block;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}

  #slide-menu > ul li a:hover{
    background-color: rgba(252,254,255, 0.3);
    font-weight: bold;
  }

  #slide-menu > ul li:before {
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    /*margin: 12px;*/
    text-align: center;
    text-transform: none;
    line-height: 1em;
  }

  body.menu-active #slide-menu {
    top: 0px;
  }

  body.menu-active #slide-menu ul {
    top: 0px;
    opacity: 1;
  }

  /*
    Content
  */
  #main-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
    overflow: scroll;
    background: #fcfeff;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: -3px 0 6px #4a5562;
    -webkit-box-shadow: -3px 0 6px #4a5562;
    box-shadow: -3px 0 6px #4a5562;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .menu-trigger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    background: #dfe5eb;
    cursor: pointer;
    border-radius: 5px;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

  .glyphicon{
    color: black;
    margin: 10px;
  }

  .glyphicon:hover {
    color: grey;
  }

  .menu-trigger:hover:before {
    color: #fcfeff;
  }

  body.menu-active #main-content {
    top: 284px;
    border-radius: 7px 0 0 7px;
  }

  body.menu-active #main-content .menu-trigger {
    top: 294px;
  }
}

/*Desktop view*/
@media only screen and (min-width: 600px){
  #slide-menu {
  /*background-color: #2aadd3;*/
  background-image: url(http://41.media.tumblr.com/e080e1ee76eb7d354465383348d84a01/tumblr_nhibg801IT1s2077ko1_500.jpg);
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  }

  #slide-menu > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

#slide-menu .titlebrand{
  font-size: 17px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

#slide-menu > ul li a{
  padding: 15px 20px;
    color: white;
    text-decoration: none;
    display: block;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -ms-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;
}

  #slide-menu > ul li a:hover{
    background-color: rgba(252,254,255, 0.3);
    font-weight: bold;
  }

  #slide-menu > ul li:before {
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 12px;
    text-align: center;
    text-transform: none;
    line-height: 1em;
  }

  body.menu-active #slide-menu {
    left: 0px;
  }

  body.menu-active #slide-menu ul {
    left: 0px;
    opacity: 1;
  }

  /*
    Content
  */
  #main-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: #fcfeff;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: -3px 0 6px #4a5562;
    -webkit-box-shadow: -3px 0 6px #4a5562;
    box-shadow: -3px 0 6px #4a5562;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
 .menu-trigger {
    position: fixed;
    top: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 5px;
    background: #fcfeff;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }

  .glyphicon{
    color: black;
    margin: 10px;
  }

  .glyphicon:hover {
    color: grey;
  }

  .menu-trigger:hover:before {
    color: #fcfeff;
  }

  body.menu-active #main-content {
    left: 284px;
    border-radius: 7px 0 0 7px;
  }

  body.menu-active #main-content .menu-trigger {
    left: 284px;
  }

}
