body, html {
    height: 100%;
    margin: 0;
    overflow:hidden;
    font-family: helvetica;
    font-weight: 100;
}

.content {
	padding: 34px;
    overflow: scroll;
}

ng-view {
	padding-left: 10px;
	padding-top: 10px;
}

.angular-google-map-container {
    height: 400px;
}

.row {
	margin-bottom: 20px;
}

.bg-grey {
    background-color: #dfe5eb;
}