<div class="container-fluid" id="contactsinfo">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<ul class="mahaiyue">
			  <li></li>
			  <li></li>
			  <li></li>
			  <li></li>
			</ul>
			<p>Hi, I'm Haiyue Ma, the developer of Front-end and partly Back-end of our web app.</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<ul class="zhouyichen">
			  <li></li>
			  <li></li>
			  <li></li>
			  <li></li>
			</ul>
			<p>Yichen Zhou</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<ul class="xusirun">
			  <li></li>
			  <li></li>
			  <li></li>
			  <li></li>
			</ul>
			<p>Sirun Xu</p>
		</div>
	</div>
	<div class="row">		
		<div class="col-md-4 col-sm-12">
			<ul class="liqi">
			  <li></li>
			  <li></li>
			  <li></li>
			  <li></li>
			</ul>
			<p>Qi Li</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<ul class="wangshi">
			  <li></li>
			  <li></li>
			  <li></li>
			  <li></li>
			</ul>
			<p>Shi Wang</p>
		</div>
		<div class="col-md-4 col-sm-12">
			<ul class="luyao">
			  <li></li>
			  <li></li>
			  <li></li>
			  <li></li>
			</ul>
			<p>Yao Lu</p>
		</div>
	</div>
</div>