<!--Created by mahaiyue on 10/10/16.-->
<div class="container-fluid no-padding">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 person1">
			<img class="center-block img-responsive img-circle mhy" src="../images/mahaiyue.jpg">
			<p>My responsibilities are building databases, API and Hotspot page.</p>
			<h4>Haiyue Ma</h4><small>hm379@scarletmail.rutgers.edu</small>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 person1">
			<img class="center-block img-responsive img-circle zyc" src="../images/zhouyichen.jpg">
			<p>My work are constructing scripts, databases and Map page.</p>
			<h4>Yichen Zhou</h4><small>yz592@scarletmail.rutgers.edu</small>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 person1">
			<img class="center-block img-responsive img-circle xsr" src="../images/xusirun.jpg">
			<p>My task is writing Help page code.</p>
			<h4>Sirun Xu</h4><small>sx60@scarletmail.rutgers.edu</small>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 person2">
			<img class="center-block img-responsive img-circle ws" src="../images/wangshi.jpg">
			<p>I'm responsible for menu-expand construction.</p>
			<h4>Shi Wang</h4><small>sw712@scarletmail.rutgers.edu</small>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 person2">
			<img class="center-block img-responsive img-circle ly" src="../images/luyao.jpg">
			<p>I code for Contact page.</p>
			<h4>Yao Lu</h4><small>yl931@scarletmail.rutgers.edu</small>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 person2">
			<img class="center-block img-responsive img-circle lq" src="../images/liqi.jpg">
			<p>My part in this team is History page.</p>
			<h4>Qi Li</h4><small>ql76@scarletmail.rutgers.edu</small>
		</div>
	</div>
</div>