<!--Created by mahaiyue on 10/10/16.-->
<div class="content">

<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1022.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>Use the menu trigger button on top-left of screen to expand navigation menu.</p>
    </div>
</div>
<br><hr><br>
<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>In Map page, fill in the form first, then click "Submit" button, you will get direction and routing for your trip.</p>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1021.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
</div>
<br><hr><br>
<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1023.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>Hotspot page will display traffic indensed areas.</p>
    </div>
</div>
<br><hr><br>
<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>In Hotspot page, submit options first. Then you will get a map full of traffic markers of NJ and two charts displaying analysis data.</p>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1025.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
</div>
<br><hr><br>
<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1024.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>Use severity filter to get different severity of incidents.</p>
    </div>
</div>
<br><hr><br>
<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>History page will display all your searching histories and your trip analysis charts.</p>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1026.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
</div>
<br><hr><br>
<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1027.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>Upload accident report to us.</p>
    </div>
</div>
<br><hr><br>
<div class="row" style="max-height: 500px">
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>Need help? Check Help page.</p>
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1028.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
</div>
<br><hr><br>
<div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
        <img src="images/IMG_1029.JPG" style="height: auto;width: auto;max-width: 500px;max-height: 500px;">
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12" style="padding: 100px">
        <p>Any questions? Contact us.</p>
    </div>
</div>
<br><hr><br>
</div>