<!--Created by mahaiyue on 10/10/16.-->
<div class="content">
<div class="row">
	<div class="col-ms-6 col-ms-offset-3 col-xs-12">
    <p>Use our website is quite easy!</p>
    <br>
    <p>When first access to our website, you will route into index page. You can press the button on left-top of website to navigate to different pages.</p>
    <img src="images/Index.png" class="img-responsive center-block" alt="Responsive image">
    <br>
    <p>The first page is Map page. You can fill in the form and get a best route of your trip according to incidents data we retrieved from the Internet.</p>
    <img src="images/Direction.png" class="img-responsive center-block" alt="Responsive image">
    <br>
    <p>The second page is History page. You can review the searching histories and manage them.</p>
    <img src="images/History.png" class="img-responsive center-block" alt="Responsive image">
    <br>
    <p>The third page is Hotspot page. You can fill in the form and get traffic incidents drawn as a bunch of markers on the map and view different traffic pattern accordingly.</p>
    <img src="images/Hotspot.png" class="img-responsive center-block" alt="Responsive image">
    </div>
</div>
</div>