<!--Created by mahaiyue on 10/22/16.-->

<div class="content">
	<div class="row">
            <!-- map -->
            <div class="col-md-8 col-sm-12 col-xs-12">
				<div id="map">
                <div class="card">
                <div class="card-title">
                    <label style="padding-bottom:5px">Map</label>
                </div>
					<ui-gmap-google-map center='map.center' zoom='map.zoom' id='maps'>
						<ui-gmap-markers models="Markers" coords="'self'" icon="'icon'" events="events">
                        <!-- <ui-gmap-windows show="window.show" closeClick="window.closeClick()" coords="window.model" options="window.options">
                            <div style="color: black">
                            {{map.window.title}}
                            </div>
                        </ui-gmap-windows> -->
                        </ui-gmap-markers>
					</ui-gmap-google-map>
                    </div>
				</div>
            </div>
            <!-- form -->
            <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="card">
            <div class="card-title">
                <label style="padding-bottom:5px">Please select the options:</label>
            </div>
            	<form class="form-horizontal" style="padding: 40px">
					<div class="form-group">
                        <label>Day:</label><br>
                        <label class="radio-inline">
                            <input type="radio" name="day" ng-model="formData.day" value="Weekday">Weekday
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="day" ng-model="formData.day" value="Weekend">Weekend
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="day" ng-model="formData.day" value="All">All
                        </label>
					</div>
					<div class="form-group">
						<label>Weather:</label><br>
                        <label class="radio-inline">
                            <input type="radio" name="weather" ng-model="formData.weather" value="Clear">Clear
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="weather" ng-model="formData.weather" value="Rain">Rain
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="weather" ng-model="formData.weather" value="Clouds">Clouds
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="weather" ng-model="formData.weather" value="Haze">Haze
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="weather" ng-model="formData.weather" value="All">All
                        </label>
					</div>
					<div class="form-group">
						<label>Severity:</label><br>
                        <label class="radio-inline">
                            <input type="radio" name="severity" ng-model="formData.severity" value="Critical">Critical
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="severity" ng-model="formData.severity" value="All">All
                        </label>
					</div>
					<br>
					<div class="form-group pull-right">
						<button class="btn btn-default" ng-click="reset()">Reset</button>
					    <button class="btn btn-info" ng-click="update()">Submit</button>
					</div>	
      			</form>

                <!-- Severity Filter -->
                <div class="card-title">
                    <label>Severity Filter(from 0[least severe] to 4[most severe])</label>
                    <form style="padding: 20px">
                    <label class="checkbox-inline">
                      <input type="checkbox" value="" ng-model="checkbox[0]"><img src="../images/bluemarker.png">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="" ng-model="checkbox[1]"><img src="../images/greenmarker.png">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="" ng-model="checkbox[2]"><img src="../images/yellowmarker.png">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="" ng-model="checkbox[3]"><img src="../images/orangemarker.png">
                    </label>
                    <label class="checkbox-inline">
                      <input type="checkbox" value="" ng-model="checkbox[4]"><img src="../images/redmarker.png">
                    </label>
                </form>
                </div>
                </div>
            </div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-title">
                <label style="padding-bottom:5px">Traffic pattern for all locations:</label>
            </div> 
            <canvas class="chart chart-line" chart-data="chartdata1" chart-labels="labels1"></canvas> 
        </div>		
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-title">
			    <label style="padding-bottom:5px">Traffic pattern for selected location: {{place}}</label>
            </div>
			<canvas class="chart chart-line" chart-data="chartdata2" chart-labels="labels2"></canvas>
            </div>
		</div>
	</div>
</div>
